NET "casilla2[1]" LOC = T5;
NET "casilla2[0]" LOC = V8;
NET "casilla1[1]" LOC = M8;
NET "casilla1[0]" LOC = V9;
NET "clk" LOC = V10;
NET "reset" LOC = B8;
NET "hsync" LOC = N6;
NET "vsync" LOC = P7;
NET "rgb[0]" LOC = V7;
NET "rgb[1]" LOC = T6;
NET "rgb[2]" LOC = R7;


